* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.item-b {
  background-color: yellow;
  position: relative;
  top: 50px;
  z-index: 1;
}

.item-c {
  background-color: orange;
  position: relative;
}
